/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0fafd;
    color: #0b3c76;
    line-height: 1.6;
}

/* Шапка */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.site-header h1 {
    font-size: 2em;
    color: #0b3c76;
}

.site-header nav ul {
    list-style-type: none;
    display: flex;
}

.site-header nav li a {
    text-decoration: none;
    color: #0b3c76;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
}

.site-header nav li a:hover {
    background-color: rgba(11, 60, 118, 0.1);
    border-radius: 5px;
}

/* Основной контент */
#about,
#flavors {
    max-width: 80%;
    margin: auto;
    padding-top: 2rem;
    text-align: center;
}

.flavor-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Футер */
.site-footer {
    background-color: #ffffff;
    padding: 1rem;
    text-align: center;
    font-size: 0.9em;
    color: #0b3c76;
}
